@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme inline {
	--font-mono: "JetBrains Mono", "monospace";

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-accent2: var(--accent2);
	--color-accent2-foreground: var(--accent2-foreground);

	--color-accent-gradient: var(--acent-gradient);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-card: var(--card);
	--color-card-outline: var(--card-outline);
}

:root {
	--background: #000000;
	--foreground: #e6f0ff;

	--accent: #8feaff;
	--accent-foreground: #e8faff;

	--accent2: #ff9bd3;
	--accent2-foreground: #fff3fb;

	--muted: #a5a5a5;
	--muted-foreground: #858585;
	--card: #111111;
	--card-outline: #414141;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Inter", sans-serif;
}

* {
	scroll-behavior: smooth;
}

button {
	cursor: pointer;
}
